:root {
    --bg-color-web: #1f2a36;
    --color-web: #f4f4f4;
    --highlight-color: #007acc;
    --box-color: #4c8caf; 
    --footer-color: #2c3e50; 
}

        body {
            background-color: var(--bg-color-web);
            color: var(--color-web);
            font-family: Arial, sans-serif;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav {
            background-color: var(--highlight-color);
            color: var(--color-web);
            padding: 15px;
        }
        header {
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
        }
        li {
            padding: 10px 20px;
        }
        li:hover {
            background-color: var(--box-color);
            cursor: pointer;
        }
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--footer-color);
            color: var(--color-web);
            padding: 20px;
        }
        .maincont {
            background-color: var(--highlight-color);
            display: flex;
            justify-content: space-between;
            margin: 20px;
            padding: 20px;
            border-radius: 8px;
        }
        .box {
            background-color: var(--box-color);
            margin: 10px;
            padding: 20px;
            border-radius: 8px;
            flex: 1;
            color: var(--color-web);
            text-align: center;
        }
        .maincont2 {
            background-color: var(--bg-color-web);
            border: 2px solid var(--color-web);
            width: 30vw;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-web);
            padding: 20px 40px;
            font-size: 1.2em;
            border-radius: 8px;
            margin: 40px auto;
            text-align: center;
        }
        .icon{
            width: 40px;
            border: 1px solid var(--highlight-color);
            position: fixed;
            border-radius: 10px;
            bottom: 5vh;
            right: 5vh;
        }