@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Martel Sans", sans-serif;
}

button {
  transition: .2s ease;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

body {
  background-color: black;
}

/* header */

header {
  background-image: url(assets/images/netflix-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 644px;
  position: relative;
}

header input,
.last input {
  width: 396px;
  padding: 9px 15px;
  font-size: 20px;
  border-radius: 4px;
  background-color: white;
  color: black;
  outline: none;
}

header input::placeholder,
.last input::placeholder {
  color: #a1a1aa;
}

nav {
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100px;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.box {
  height: 644px;
  width: 100%;
  opacity: 0.73;
  position: absolute;
  top: 0;
  background-color: #000000eb;
}

.hero {
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  padding: 0px 30px;
  gap: 23px;
}

.hero > :first-child {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-weight: 900;
  font-size: 56px;
  width: 585px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 11px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hero-buttons .btn-red svg {
  transform: translate(4px, 6px);
  scale: 0.8;
}

.seperation {
  height: 7px;
  background-color: #232323;
  position: relative;
  z-index: 20;
}

.select-lang {
  position: relative;
  z-index: 10;
}
.select-lang,
.btn {
  padding: 3px 8px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.916);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.select-lang,
.btn-lng {
  border: 1px solid rgba(255, 255, 255, 0.578);
}

.btn-red {
  background-color: red;
  color: white;
  padding: 9px 31px;
  font-size: 20px;
  border-radius: 5px;
}

.btn-red-sm {
  background-color: red;
  color: white;
}

/* main section */

.first {
  max-width: 84vw;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.first .img-sec {
  position: relative;
  padding: 34px 0;
}
.first .img-sec .img1 {
  width: 485px;
  position: relative;
  z-index: 10;
}

.first .img-sec video {
  width: 395px;
  position: absolute;
  top: 96px;
  right: 34px;
}

.first .img-sec .img2 {
  width: 555px;
  position: relative;
  z-index: 10;
}

.first .txt-ins-div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
  color: white;
  width: 558px;
}

.first .txt-ins-div :nth-child(1) {
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 0 16px 0;
}

.first .txt-ins-div :nth-child(2) {
  font-size: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 31px;
}

/* faq section  */

.faq {
  padding: 34px;
  background-color: black;
  color: white;
}

.faq-box {
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
  font-size: 24px;
  background-color: #2d2d2d;
  transition: 0.3s ease-out;
  margin: 10px auto;
  padding: 25px;
  cursor: pointer;
}
.faq-box span svg {
  scale: 1.8;
}

.faq-box:hover {
  background-color: #414141;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
  padding: 12px 0 21px 0;
}

.faq-box-note {
  padding: 33px 0 18px 0;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

/* footer */

footer {
  color: white;
  max-width: 70vw;
  margin: auto;
  padding: 20px 0 54px;
}

footer .questions {
  padding: 34px 0;
  text-decoration: underline;
  color: white;
  font-size: 17px;
}

footer .footer .footer-item a {
  font-size: 17px;
}

.footer {
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer a {
  font-size: 14px;
  color: white;
}
