* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

nav ul {
  display: flex;
  gap: 26px;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 20px auto 30px auto;
}
nav ul li {
  list-style: none;
}

.r-side li {
  display: flex;
  align-items: center;
}
.r-side {
  display: flex;
  align-items: center;
}
svg {
  margin-top: 2px;
}
