* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
  padding-bottom: 34px;
}

#inp_link,
#out_url {
  resize: none;
  width: 277px;
  height: 26px;
  padding: 10px 38px 8px 12px;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.btn_redirect,
.btn_copy_url {
  margin-top: 24px;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn_redirect,
.btn_copy_url {
  background-color: #007bff;
  color: white;
}

.btn_redirect:hover {
  background-color: #0056b3;
}

.btn_copy_url:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 430px) {
  #inp_link,
  #out_url {
    padding: 12px 38px 5px 12px;
  }
}
