* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --bgcolor: #343a40;
  --txtcolor: #f8f9fa;
  --body-bgcolor: #212529;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li {
  padding: 15px 18px;
  font-style: italic;
  font-size: 212%;
  font-weight: bold;
}

header,
footer {
  background-color: var(--bgcolor);
  color: var(--txtcolor);
}

header {
  padding: 15px;
}

footer {
  padding: 24px;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--body-bgcolor);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 395px) {
  nav ul li {
    font-size: 180%;
  }
}
